<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appId</key>
	<string>realmdocsdemo-1-bjewc</string>
	<key>appUrl</key>
	<string>https://realm.mongodb.com/groups/64be5e583e7f490d3042869e/apps/64c25829421a8ccfa76fc6ac</string>
	<key>baseUrl</key>
	<string>https://realm.mongodb.com</string>
	<key>clientApiBaseUrl</key>
	<string>https://realm.mongodb.com</string>
	<key>dataApiBaseUrl</key>
	<string>https://data.mongodb-api.com</string>
    <key>dataExplorerLink</key>
    <string>https://cloud.mongodb.com/links/64be5e583e7f490d3042869e/explorer/Cluster0/database/collection/find</string>
    <key>dataSourceName</key>
    <string>mongodb-atlas</string>
</dict>
</plist>
